<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Affiliation Checking</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Affiliation Checking</li>
        </ol>
    </nav>
</div>

<form name="formClient" class="card">
    <h6 class="card-header">Client Form</h6>
    <div class="card-body row">
        <div class="col-lg-6">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Credit Application No.
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Credit Application No.">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Identity Number
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Identity Number">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Name of Applicant
                    <br class="d-none d-lg-block">
                    <small class="text-secondary">(Full Name)</small>
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Name of Applicant (Full Name)">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    First Name
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="First Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Middle Name
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Middle Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Last Name
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Last Name">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Biological Mother's Name
                </label>
                <div class="col-lg-8">
                    <input type="text" class="form-control" placeholder="Biological Mother's Name">
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Address
                    <br class="d-none d-lg-block">
                    <small class="text-secondary">(Now)</small>
                </label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="2" placeholder="Address (Now)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Address
                    <br class="d-none d-lg-block">
                    <small class="text-secondary">(Identity Number)</small>
                </label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="2" placeholder="Address (Identity Number)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Address
                    <br class="d-none d-lg-block">
                    <small class="text-secondary">(Work)</small>
                </label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="2" placeholder="Address (Work)"></textarea>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-lg-4 col-form-label">
                    Address
                    <br class="d-none d-lg-block">
                    <small class="text-secondary">(Parents)</small>
                </label>
                <div class="col-lg-8">
                    <textarea class="form-control" rows="2" placeholder="Address (Parents)"></textarea>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer text-right bd-t-0">
        <button class="btn btn-sm btn-primary pd-x-50">Check</button>
    </div>
</form>

<div class="card mg-t-20">
    <h6 class="card-header bd-b-0">Checking Result</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Match Type</th>
                    <th>Match Strength</th>
                    <th>Name</th>
                    <th>Gender</th>
                    <th>Affilation</th>
                    <th>Position</th>
                    <th>Matches to</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Exact Match</td>
                    <td>100</td>
                    <td>Brown</td>
                    <td>Male</td>
                    <td>Siblings</td>
                    <td>Branch Manager</td>
                    <td>Miological Mother's Name</td>
                </tr>
                <tr>
                    <td>Exact Match</td>
                    <td>100</td>
                    <td>Brown</td>
                    <td>Male</td>
                    <td>Siblings</td>
                    <td>Branch Manager</td>
                    <td>Miological Mother's Name</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>