<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Collateral Analysis</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Collateral Analysis</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header">Land and Building Collateral</h6>
    <div class="card-body">
        <div class="row row-xs tr-detail-data">
            <div class="col-lg-6">
                <p>
                    <small class="tx-gray-500">Address of Collateral</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">Sub-district</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">City</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">Images</small>
                </p>
            </div>
            <div class="col-lg-6 order-0">
                <small class="tx-gray-500">Location</small>
                <iframe width="100%" height="400px" frameborder="0" style="border:0"
                    src="https://www.google.com/maps/embed/v1/place?key=KEY&=-6.8777973,107.5453217"
                    allowfullscreen>
                </iframe>
                <iframe width="100%" height="400px" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/streetview?key=KEY
                    &location=-6.8777973,107.5453217
                    &heading=210
                    &pitch=10
                    &fov=35" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<!-- <input type="text" ng-model="lat">
<input type="text" ng-model="lng">
<button ng-click="setSrc()">set</button>
<iframe width="600" height="450" frameborder="0" style="border:0" ng-src="{{src}}" allowfullscreen>
</iframe> -->