<div class="card mg-t-20">
    <h6 class="card-header">Detail Collateral</h6>
    <div class="card-body">
        <div class="row row-xs tr-detail-data">
            <div class="col-lg-6">
                <div class="mg-b-10">
                    <iframe width="100%" height="280px" frameborder="0" style="border:0" ng-src="{{google.street}}"
                        allowfullscreen>
                    </iframe>
                    <iframe width="100%" height="280px" frameborder="0" style="border:0" ng-src="{{google.place}}"
                        allowfullscreen></iframe>
                </div>
                <p>
                    <small class="tx-gray-500">Address</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">Sub-district</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">City</small>
                    testing
                </p>
                <button class="btn btn-sm btn-primary mg-b-10" type="button" data-toggle="collapse"
                    data-target="#collapseAdditionalInformation" aria-expanded="false"
                    aria-controls="collapseAdditionalInformation">
                    Additional Information
                </button>
                <div class="collapse" id="collapseAdditionalInformation">
                    <p>
                        <small class="tx-gray-500">Type of Building</small>
                        testing
                    </p>
                    <p>
                        <small class="tx-gray-500">Certificate</small>
                        testing
                    </p>
                    <p>
                        <small class="tx-gray-500">Others</small>
                        testing
                    </p>
                </div>
            </div>
            <div class="col-lg-6 order-0">
                <small class="tx-gray-500">Images</small>
                <div class="row row-xxs">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer table-responsive">
        <h6>Value Calculator</h6>
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th></th>
                    <th class="tx-gray-500 text-center">m2</th>
                    <th class="tx-gray-500 text-center">Value / m2</th>
                    <th class="tx-gray-500 text-right">Market Value</th>
                    <th class="tx-gray-500 text-right">Estimated Value</th>
                    <th class="tx-gray-500 text-center">IMB</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Land Area</td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right" placeholder="Land Area (m2)"
                            title="Land Area (m2)"></td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right"
                            placeholder="Value Land Area (Value / m2)" title="Value Land Area (Value / m2)">
                    </td>
                    <td class="text-right">2000</td>
                    <td class="text-right">2000</td>
                    <td></td>
                </tr>
                <tr>
                    <td>Building Area 1</td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right" placeholder="Land Area (m2)"
                            title="Land Area (m2)"></td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right"
                            placeholder="Value Land Area (Value / m2)" title="Value Land Area (Value / m2)">
                    </td>
                    <td class="text-right">2000</td>
                    <td class="text-right">2000</td>
                    <td class="text-center">Yes</td>
                </tr>
                <tr>
                    <td>Building Area 2</td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right" placeholder="Land Area (m2)"
                            title="Land Area (m2)"></td>
                    <td>
                        <input type="text" class="form-control form-control-sm text-right"
                            placeholder="Value Land Area (Value / m2)" title="Value Land Area (Value / m2)">
                    </td>
                    <td class="text-right">2000</td>
                    <td class="text-right">2000</td>
                    <td class="text-center">Yes</td>
                </tr>
                <tr>
                    <th class="text-right" colspan="3">Total</th>
                    <th class="text-right">2000</th>
                    <th class="text-right">2000</th>
                    <td></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>