<div class="card mg-t-20">
    <h6 class="card-header">Detail Collateral</h6>
    <div class="card-body">
        <div class="row row-xs tr-detail-data">
            <div class="col-lg-6">
                <div class="mg-b-10">
                    <iframe width="100%" height="280px" frameborder="0" style="border:0" ng-src="{{google.street}}"
                        allowfullscreen>
                    </iframe>
                    <iframe width="100%" height="280px" frameborder="0" style="border:0" ng-src="{{google.place}}"
                        allowfullscreen></iframe>
                </div>
                <p>
                    <small class="tx-gray-500">Address</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">Sub-district</small>
                    testing
                </p>
                <p>
                    <small class="tx-gray-500">City</small>
                    testing
                </p>
            </div>
            <div class="col-lg-6 order-0">
                <small class="tx-gray-500">Images</small>
                <div class="row row-xxs">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                    <img class="col-lg-4 col-md-6 pd-b-30" src="../../img/inf.png">
                </div>
            </div>
        </div>
    </div>
</div>