<div class="card mg-t-20">
    <h6 class="card-header">Affiliation Detail</h6>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Debtor</th>
                        <th>Employee</th>
                        <th class="text-right">Vote Matching</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th>Photo</th>
                        <td>
                            <img src="../../img/inf.png">
                        </td>
                        <td>
                            <img src="../../img/inf.png">
                        </td>
                        <td class="text-right">
                            <button class="btn btn-primary">Vote</button>
                        </td>
                    </tr>
                    <tr>
                        <th>Applicantion ID</th>
                        <td>32P2195001701130005</td>
                        <td>3210123456785433312</td>
                        <td class="text-right">
                            <button class="btn btn-primary">Vote</button>
                        </td>
                    </tr>
                    <tr>
                            <th>Identity Number</th>
                            <td>32012</td>
                            <td>3210123456785433312</td>
                            <td class="text-right">
                                <button class="btn btn-primary">Vote</button>
                            </td>
                        </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>