<div class="card mg-t-20">
    <div class="card-header bd-b-0 d-flex justify-content-between align-items-center">
        <h6 class="mg-b-0">Detail Business</h6>
        <span class="tx-gray-500"><small>Credit Application No.</small> 32P2195001701130005</span>
    </div>
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th class="tx-gray-500">Application No.</th>
                    <th class="tx-gray-500">Collateral No.</th>
                    <th class="tx-gray-500">Collateral Type</th>
                    <th class="tx-gray-500">Collateral Value</th>
                    <th class="tx-gray-500">Estimated Value</th>
                    <th class="tx-gray-500">Date of Inspection</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>32P2195001701130005</td>
                    <td>J12345</td>
                    <td>Land and Buildings</td>
                    <td>2.604.862.310.12</td>
                    <td>2.323.123.123.12</td>
                    <td>24/06/2019</td>
                    <td>
                        <button class="btn btn-xs btn-primary">
                            Show Detail
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>