<div class="card mg-t-20">
    <div class="card-header bd-b-0 d-flex justify-content-between align-items-center">
        <h6 class="mg-b-0 d-flex align-middle">Detail Business</h6>
        <span class="tx-gray-500">
            <small>Credit Application No.</small> 32P2195001701130005
            <button class="btn btn-xs btn-primary mg-l-10" ui-sref="admin.financialAnalysis.incomeEstimate">
                Income Estimate
            </button>
        </span>
    </div>
    <div class="table-responsive">
        <table class="table mg-b-0">
            <thead>
                <tr>
                    <th class="tx-gray-500">Type of Business</th>
                    <th class="tx-gray-500">Company Name</th>
                    <th class="tx-gray-500">Address</th>
                    <th class="tx-gray-500">City</th>
                    <th class="tx-gray-500">Province</th>
                    <th class="tx-gray-500">Position</th>
                    <th class="tx-gray-500 text-right">Gross Income</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Tax Consultan</td>
                    <td>PT ABC</td>
                    <td>Jalan Dipati Ukur No. 81</td>
                    <td>Bandung</td>
                    <td>West Java</td>
                    <td>Manager Sales</td>
                    <td class="text-right">Rp. 8.000.000</td>
                </tr>
                <tr>
                    <td>Entrepreneur</td>
                    <td>Warung Bu Ida</td>
                    <td>Jalan Jakarta No. 123</td>
                    <td>South Jakarta</td>
                    <td>DKI Jakarta</td>
                    <td>Owner</td>
                    <td class="text-right">Rp. 5.000.000</td>
                </tr>
                <tr>
                    <th class="text-right" colspan="6">Total</th>
                    <th class="text-right">Rp. 13.000.000</th>
                </tr>
            </tbody>
        </table>
    </div>
</div>