<div class="d-sm-flex align-items-center justify-content-between mg-b-20 mg-lg-b-25 mg-xl-b-30">
    <h4 class="mg-b-0 tx-spacing--1">Financial Analysis</h4>
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb breadcrumb-style1 mg-b-10">
            <li class="breadcrumb-item">Home</li>
            <li class="breadcrumb-item active" aria-current="page">Financial Analysis</li>
        </ol>
    </nav>
</div>
<div class="card">
    <h6 class="card-header bd-b-0">List Creditor</h6>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>Credit Application No.</th>
                    <th>Name of Applicant</th>
                    <th>Product Name</th>
                    <th>Plafon</th>
                    <th>Time Period (Month)</th>
                    <th>Purpose of The Loan</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>32P2195001701130005</td>
                    <td>RAMON DOK</td>
                    <td>Dana Siaga</td>
                    <td>50000000</td>
                    <td>3</td>
                    <td>Investasi</td>
                    <td>
                        <button class="btn btn-xs btn-primary" ui-sref="admin.financialAnalysis.detailBusiness">
                            Detail Business
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div ui-view></div>